@page
@model Project_Crud.Pages.Livros.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .btn-back-page {
        width: 100px;
        height: 50px;
        background-color: #212529 !important;
        color: #FFFF;
        padding: 10px;
        text-decoration: none;
        border-radius: 8px;
        margin: 18px;
        transition: 0.2s
    }

        .btn-back-page:hover {
            filter: brightness(50%);
            color: #FFFF;
        }
    .btn-container {
        margin: 20px 0px 0px 0px;
    }
</style>
<div class="btn-container">
    <a asp-page="Index" class="btn-back-page" style="margin:20px;margin-top:40px;"><i class="fas fa-arrow-left"></i>&nbsp;Voltar</a>
    <a asp-page="./Edit" class="btn-back-page" asp-route-id="@Model.Livro.Id_Livro"><i class="fas fa-pen"></i>&nbsp;Editar</a> 
</div>
<h1 style="margin:25px">@Html.DisplayFor(model => model.Livro.Titulo)</h1>

<div style="margin:20px">

    <h4 style="margin:25px">Livro</h4>
    <hr />
    <dl class="row" style="margin:20px">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Editora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Editora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Ano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Categoria)
        </dd>
    </dl>
</div>
<div>
   
</div>
