@page
@model Project_Crud.Pages.Livros.IndexModel

@{
    ViewData["Title"] = "Lista de Livros";
}

<style>
    .btn-new-book {
        width: 100px;
        height: 50px;
        background-color: #212529 !important;
        color: #FFFF;
        padding: 10px;
        text-decoration: none;
        border-radius: 8px;
        margin: 18px;
        transition:0.2s
    }
        .btn-new-book:hover {
            filter: brightness(50%);
            color: #FFFF;
        }
</style>

<h1 style="margin:20px">Lista de Livros</h1>

<p style="margin-top:40px">
    <a asp-page="Create" class="btn-new-book">
        Criar Novo
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Livro) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id_Livro">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id_Livro">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id_Livro">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
